.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: #428bca;
}
.modal-info .modal-header {
  background: #5bc0de;
}
.modal-success .modal-header {
  background: #5cb85c;
}
.modal-warning .modal-header {
  background: #f0ad4e;
}
.modal-danger .modal-header {
  background: #d9534f;
}

.tap-container {
  background: cyan;
  display: block;
  margin: 0px;
}

.tap-btn {
  border: 1px solid black;
  height: 100px;
  width: 33.33333%;
  color: rgba(0,0,0,0.4);
}

.tap-no {
  background-color: rgba(255, 0, 0, 0.8);
  display: block;
  border: 5px dotted orange;
}
