.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: #428bca;
}
.modal-info .modal-header {
  background: #5bc0de;
}
.modal-success .modal-header {
  background: #5cb85c;
}
.modal-warning .modal-header {
  background: #f0ad4e;
}
.modal-danger .modal-header {
  background: #d9534f;
}

.tap-container {
  background: cyan;
  display: block;
  margin: 0px;
  -moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
}

.tap-btn {
  border: 1px solid black;
  height: 100px;
  width: 33.33333%;
  color: rgba(0,0,0,0.4);
}

.tap-no {
  background-color: rgba(255, 0, 0, 0.8);
  display: block;
  border: 5px dotted orange;
}

.tap-pulse {
    border: 3px solid rgba(0,0,0,0.8);
    -webkit-border-radius: 30px;
    height: 50px;
    width: 50px;
    position: absolute;
    left:33%;
    top:25%;
    background-color: rgba(0,0,0,0.3);
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.tap-double {
    border: 3px solid rgba(0,0,0,0.8);
    -webkit-border-radius: 30px;
    height: 50px;
    width: 50px;
    position: absolute;
    left:50%;
    top:25%;
    background-color: rgba(0,0,0,0.3);
    -webkit-animation: pulsate-double 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate-double {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
