<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <p>The current password is: {{modal.password}}.</p>
  <div class="container tap-container col-xs-12">
    <div class="row">
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(0,true)" ng-dblClick="modal.tryGrid(0,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(0)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(0)}"></div>
      </div>
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(1,true)" ng-dblClick="modal.tryGrid(1,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(1)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(1)}"></div>
      </div>
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(2,true)" ng-dblClick="modal.tryGrid(2,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(2)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(2)}"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(3,true)" ng-dblClick="modal.tryGrid(3,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(3)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(3)}"></div>
      </div>
      <div class="col-xs-4 tap-btn tap-no"></div>
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(4,true)" ng-dblClick="modal.tryGrid(4,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(4)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(4)}"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(5,true)" ng-dblClick="modal.tryGrid(5,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(5)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(5)}"></div>
      </div>
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(6,true)" ng-dblClick="modal.tryGrid(6,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(6)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(6)}"></div>
      </div>
      <div class="col-xs-4 tap-btn" sglclick="modal.tryGrid(7,true)" ng-dblClick="modal.tryGrid(7,false)">
        <div ng-class="{'tap-pulse': modal.shouldIBloop(7)}"></div>
        <div ng-class="{'tap-double': modal.shouldIBloopBloop(7)}"></div>
      </div>
    </div>
  </div>
</div>

<!-- Give some status information -->
<div class="modal-footer">
  <strong>Level: {{modal.curChar}}</strong> | <strong>Attempts Remaining:</strong>
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
